{erl_opts, [debug_info, fail_on_warning]}.
{deps, [
        {covertool, "", {git, "git@github.com:idubrov/covertool.git", {branch, master}}},
        {protobuffs, "0.8.*", {git, "git://github.com/basho/erlang_protobuffs.git", {tag, "0.8.1p4"}}}
       ]}.

{plugins, [rebar_covertool]}.
{cover_enabled, true}.